.Casilla{
    width: 30%;
    
    text-align: center;
    border: 5px black solid;
    height: 230px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: white;
    
}

.Imagen{
    width: 100%;
    display: inline-block;
    margin: auto;
    
    height: 100%;
    
}


