.Casilla{
    width: 33.33333333333333%;
    
    text-align: center;
    border: 5px black solid;
    height: 230px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: white;
    
}

.Imagen{
    width: 100%;
    display: inline-block;
    margin: auto;
    
    height: 100%;
    
}



.Ocupada:hover{
    background-color: #ff5733;
}

.Desocupada:hover{
    background-color: #9cff33;
}